body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
}

header {
    text-align: center;
    background-color: grey;
    padding: 10px;
    color: white;
    grid-column: 1 / -1;
}

nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

#projects {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
}

.project {
    text-align: center;
    margin: 10px;
    max-width: 300px;
}

.project img {
    max-width: 100%;
    height: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

#about,
#contact {
    text-align: left;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-content img {
    max-width: 200px;
    height: auto;
    margin-right: 20px;
}

footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 10px;
    grid-column: 1 / -1;
}